.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.cardWrapper.dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  background-color: var(--dark-bar-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px;
  color: var(--dark-text-color);
}

.cardWrapper.light {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  background-color: var(--light-bar-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px;
  color: var(--light-text-color);
}

.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 20px;
}

.thumbnailWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.thumbnail {
  width: 70px;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 0.2s ease, border 0.2s ease;
  border: 2px solid transparent;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.activeThumbnail {
  border: 2px solid var(--primary-color);
  transform: scale(1.1);
}

.detailsSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 55%;
}

.cardTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.cardDescription {
  font-size: 1em;
  text-align: justify;
  margin-bottom: 20px;
}

.cardPrice {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.cardActions {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin: 15px;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 0.9em;
  background-color: var(--button-color);
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--link-hover-color);
  color: #fff;
}

.button.inFavorites {
  background-color: #666;
  color: #fff;
}

.button.inBasket {
  background-color: #666;
  color: #fff;
}
.button.inFavorites:hover {
  background-color: var(--link-hover-color);
  color: #000;
}

.button.inBasket:hover {
  background-color: var(--link-hover-color);
  color: #000;
}

@media (max-width: 1000px) {
  .cardWrapper.dark {
    width: 80%;
  }

  .cardWrapper.light {
    width: 80%;
  }
  .thumbnailWrapper {
    flex-direction: column;
  }

  .cardTitle {
    font-size: 1.2em;
  }

  .cardDescription {
    font-size: 0.8em;
  }

  .cardPrice {
    font-size: 1em;
  }
  .button {
    padding: 8px 16px;

    font-size: 0.6em;
  }
}
