* {
  text-decoration: none;
  user-select: none;
  box-sizing: border-box;
}

:root {
  --dark-bg-color: #000000;
  --light-bg-color: #ffffff;
  --dark-bar-bg-color: #201f1fe1;
  --light-bar-bg-color: #494848e1;
  --dark-text-color: #e9ab0f;
  --light-text-color: #000000;
  --link-hover-color: #3ec4e6;
  --link-active-color: #ffffff;
  --button-color: #e9ab0f;
  --border-radius: 10px;
}

.App.dark {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  font-family: "Commissioner", Arial, Helvetica, sans-serif;
  background-color: var(--dark-bg-color);
  background-attachment: fixed;
  width: 100%;
  margin: 0 auto;
  color: var(--dark-text-color);
}

.App.light {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  font-family: "Commissioner", Arial, Helvetica, sans-serif;
  background-color: var(--light-bg-color);
  background-attachment: fixed;
  width: 100%;
  margin: 0 auto;
  color: var(--light-text-color);
}

.content {
  display: flex;
  height: max-content;
  width: 100%;
  position: relative;
  justify-content: center;
}
